Bir for döngüsü, bir dizi ( list,tuple,dictionary,set,string) üzerinde yineleme yapmak için kullanılır.


For döngüsüyle bir liste, tuple, set vb. içindeki her öğe için bir dizi ifadeyi bir kez çalıştırabiliriz.

# Dizi İçinde Dolaşmak

In [ ]:
fruits = ["elma","armut","kiraz"]
for x in fruits:
  print(x)

elma
armut
kiraz

#String İçinde Dolaşmak

In [ ]:
string = "banana"

for x in string:
  print(x)

b
a
n
a
n
a

#Break Deyimi

Break deyimi döngüyü kırmaya yarar.

In [ ]:
liste = ["a","b","c"]
for x in liste:
  print(x)

  if x == "b":
    break  #for döngüsünden çıkar.

a
b

# Continue Deyimi

Python'da "continue" deyimi , döngü içinde bir koşul oluştuğunda o döngüyü tamamlamadan bir sonraki kademeye geçmeye yarar.

In [1]:
fruits = ["apple","banana","kiwi","orange"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
kiwi
orange

#Range İşlevi

Bir kod kümesinde belirli sayıda döngü yapmak için range() işlevini kullanabiliriz ,
range () işlevi, varsayılan olarak 0'dan başlayan ve 1 (varsayılan olarak) artan ve belirtilen sayıda biten bir sayı dizisi döndürür.

In [4]:
for x in range(5): #bitiş indeksi
  print(x)

0
1
2
3
4

In [3]:
for x in range(2,5): #başlangıç indeksi - bitiş indeksi
  print(x)

2
3
4

In [5]:
for x in range(2,10,2): #başlangıç indeksi - bitiş indeksi - artış miktarı
  print(x)

2
4
6
8

#Else Deyimi

 Döngüdeki else anahtar kelimesi, for döngüsü tamamlandığında yürütülecek kod bloğunu belirtir:

In [6]:
#tüm sözlük değerlerini yazdırın ve döngü sona erdiğinde bir mesaj yazdırın:
dictionary1 = {"name":"şule","age":"19","status":"student"}
for x in dictionary1.values():
  print(x)
else:
  print("işlem başarıyla tamamlandı")

şule
19
student
işlem başarıyla tamamlandı

Eğer döngü break komutu ile durdurulursa else bloğu çalışmayacaktır.

In [7]:
#tüm sözlük değerlerini yazdırın ve döngü sona erdiğinde bir mesaj yazdırın:
dictionary1 = {"name":"şule","age":"19","status":"student"}
for x in dictionary1.values():
  if x == "student":
    break
  print(x)
else:
  print("işlem başarıyla tamamlandı")

şule
19

#İç İçe Döngüler

Bir döngü yapısının içine başka bir döngü yapısının yerleştirilmesiyle elde edilen yapıya iç içe döngü (nested loop) adı verilir.

"İç döngü", "dış döngü"nün her yinelemesinde bir kez yürütülecektir:

In [9]:
#Her meyve için her sıfatı yazdırın:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#Pass

For döngüleri boş olamaz. Boş olacaksa içine "pass" anahtar kelimesi yerleştirilir.

In [10]:
for x in range(5):
  pass



---

In [15]:
#quiz
def yearToCentury(year):
  strYear = str(year)

  if len(strYear) < 3: #yıl 2 basamaklı ise
    return 1


  elif len(strYear)==3: #yıl 3 basamaklı ise
    if(strYear[1:3]=="00"):
      return int(strYear[0])
    else:
      return int(strYear[0])+1


  elif len(strYear)==4: #yıl 4 basamaklı ise
    if strYear[2:4]=="00":
      return int(strYear[0:2])
    else:
      return int(strYear[0:2])+1

print(yearToCentury(2100))

21

In [16]:
#stringi boşluk karakterine göre bölümleyerek for ile elemanlarını yazdırın.
for x in "python is a good programming language".split():
  print(x)

python
is
a
good
programming
language

In [17]:
#liste elemanlarının toplamını bulun.
liste=[1,2,3,5,6,78]
count=0
for x in liste:
  count+=x
print(count)

95

In [19]:
#verilen listedeki en küçük sayıyı bulun.
liste = [1,2,3,4,5,64,23,67,21,-500,23,451,67]

minNumber = liste[0]

for x in liste:
  if x<minNumber:
    minNumber=x
  else:
    continue

print(minNumber)

-500

In [22]:
kullanicilar = ["ali","ayşe","yavuz","erdem"]
kullaniciSayisi=0

for kullanici in kullanicilar:
  kullaniciSayisi+=1
  print("{}. kullanici : {}".format(kullaniciSayisi,kullanici))

1. kullanici : ali
2. kullanici : ayşe
3. kullanici : yavuz
4. kullanici : erdem

In [26]:
kullanicilar = ["ali kılınç","ayşe durmaz","yavuz eroğlu","erdem inan"]
kullaniciSayisi=0

for kullanici in kullanicilar:
  kullaniciSayisi+=1
  ad = kullanici.split()[0]
  soyad = kullanici.split()[1]
  print("{}. Kullanıcının Adı:{} Soyadı:{}".format(kullaniciSayisi,ad,soyad))

1. Kullanıcının Adı:ali Soyadı:kılınç
2. Kullanıcının Adı:ayşe Soyadı:durmaz
3. Kullanıcının Adı:yavuz Soyadı:eroğlu
4. Kullanıcının Adı:erdem Soyadı:inan

In [2]:
users=["emily june","john wick","dan cairo","emma stone"]
moderator="emily june"
userCount=0
moderatorCount=0

for user in users:

    if user == moderator:
      moderatorCount+=1
      ad = moderator.split()[0]
      soyad = moderator.split()[1]
      print(moderatorCount,"moderator:",ad,soyad)
    else:
      userCount+=1
      ad = user.split()[0]
      soyad=user.split()[1]
      print(userCount,"user:",ad,soyad)

1 moderator: emily june
1 user: john wick
2 user: dan cairo
3 user: emma stone

In [1]:
tup1 = (1,3,5,7)
for x in tup1:
  print(x)

1
3
5
7

In [3]:
liste=[[1,2],[3,4]]
for x in liste:
  print(x)

[1, 2]
[3, 4]

In [5]:
liste=[[1,2],[3,4]]
for x,y in liste:
  print(x)

1
3

In [6]:
liste=[[1,2],[3,4]]
for x,y in liste:
  print(y)

2
4

In [7]:
liste=[[1,2,3],[3,4,5]]
for x,y,z in liste:
  print(x)

1
3

In [8]:
liste=[[1,2,3],[3,4,5]]
for x,y,z in liste:
  print(y)

2
4

In [9]:
liste=[[1,2,3],[3,4,5]]
for x,y,z in liste:
  print(z)

3
5

In [14]:
kullanici1 = {"ad":"Naz","soyad":"Yağcıoğlu"}
print(kullanici1)
print(kullanici1.keys())
print(kullanici1.values())
print(kullanici1.items())

for key,value in kullanici1.items():
  print(key , value)


for key in kullanici1.keys():
  print(key)

for value in kullanici1.values():
  print(value)

{'ad': 'Naz', 'soyad': 'Yağcıoğlu'}
dict_keys(['ad', 'soyad'])
dict_values(['Naz', 'Yağcıoğlu'])
dict_items([('ad', 'Naz'), ('soyad', 'Yağcıoğlu')])
ad Naz
soyad Yağcıoğlu
ad
soyad
Naz
Yağcıoğlu